<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An example blog written in Symfony">
    <meta name="author" content="Frederick Vanbrabant">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <link href="{{ asset('bundles/vanbrabantfblogcore/css/main.css') }}" rel="stylesheet" />

    <title>Starter Template for Bootstrap</title>

    <![endif]-->
</head>

<body>

<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('vanbrabantf_blog_core_homepage') }}">Example Blog</a>
            <a class="navbar-brand" href="{{ path('sonata_admin_dashboard') }}">Backend</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {% block body %}{% endblock %}

</div><!-- /.container -->

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>